---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import { getCollection } from 'astro:content';
import { Image } from "astro:assets";

let jobOpenings = [];
let error = null;

try {
  jobOpenings = await getCollection('jobOpenings');
  console.log("Job Openings:", jobOpenings);


} catch (e) {
  console.error("Error fetching job openings:", e);
  error = "Unable to fetch job openings at this time.";
}

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "@js/utils"
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title="Get Involved"
  description="Help us restore hope to Hawai'i's grieving keiki."
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="Get Involved"
    image={optimizedImage}
  />

  <section id="page-description">
    <div class="container">
      <h2 class="page-description">Help us restore hope to Hawaiʻi's grieving keiki.</h2>
    </div>
  </section>

  <!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-2390">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Join Our Team</h2>
            <p class="cs-text">
                Current job openings are posted below. Email your resume to <a href="mailto:executivedirector@kidshurttoo.org" style="font-size: inherit; color: inherit;">executivedirector@kidshurttoo.org</a> or call (808) 545-5683.
            </p>
        </div>
        {error ? (
            <p class="cs-error">{error}</p>
        ) : jobOpenings.length === 0 ? (
            <p class="cs-no-jobs">There are currently no open positions. Please check back later.</p>
        ) : (
            <ul class="cs-card-group">
                {jobOpenings.map((job) => (
                    <li class="cs-item" key={job.id}>
                        <a href={`/job-openings/${job.id}`} class="cs-link">
                            <div class="cs-flex">
                                <span class="cs-date">
                                    {new Date(job.data.date).toLocaleDateString()}
                                </span>
                            </div>
                            <div class="cs-info">
                                <h3 class="cs-h3">{job.data.title}</h3>
                                <p class="cs-item-text">
                                    {job.data.description}
                                </p>
                            </div>
                            <div class="cs-picture">
                                <Image 
                                    src={job.data.image} 
                                    alt={job.data.title} 
                                    width={330} 
                                    height={242} 
                                />
                            </div>
                        </a>
                    </li>
                ))}
            </ul>
        )}
    </div>
</section>
                                

  <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-2050">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/volunteer-photo.png">
            <source media="(min-width: 601px)" srcset="/assets/images/volunteer-photo.png">
            <img loading="lazy" decoding="async" src="/assets/images/volunteer-photo.png" alt="volunteer" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <!-- <span class="cs-topper">About Us</span> -->
            <h2 class="cs-title">Volunteer</h2>
            <p class="cs-text">
                Volunteers are essential to our work. Support children, teens, and families that are going through grief and trauma.
            </p>
            <p class="cs-text">
                Visit our volunteer page below for more information about becoming a volunteer or contact: <a href="mailto:training@kidshurttoo.org" style="font-size: inherit; color: inherit">training@kidshurttoo.org.</a>
            </p><br><br>
            <!-- <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    Our focus is on your overall well-being.
                </li>
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    We provide quality dental care.
                </li>
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    Innovative therapy & qualified dentists.
                </li>
            </ul> -->
            <a href="/volunteer" class="cs-button-solid">More Info</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<!-- <section id="RPsbsr-2050">
    <div class="cs-container">
        <div class="cs-content"> -->
            <!-- <span class="cs-topper">Dental Care for Everyone</span> -->
            <!-- <h2 class="cs-title">Annual Fundraiser Gala</h2>
            <p class="cs-text">
                Consider becoming a champion for grieving children by joining the planning committee and/or making a generous donation in support of the 2026 gala.
            </p>
            <p class="cs-text">
                Click below to donate, or contact: <a href="mailto:executivedirector@kidshurttoo.org" style="font-size: inherit; color: inherit">executivedirector@kidshurttoo.org.</a>
            </p><br><br>
             <a href="https://kidshurttoo.networkforgood.com/" target="_blank" class="cs-button-solid">Donate</a> -->
            <!-- <ul class="cs-ul-icons">
                <li class="cs-li-icons">
                    <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/tooth-gum.png" decoding="async" alt="icon" width="48" height="48" loading="lazy">
                    <div class="cs-flex">
                        <h3 class="cs-h3">Gum Surgery</h3>
                        <p class="cs-li-text">
                            Dentitch provides the best service and has won many awards. Our mission is to make everyone confident to give their best smile.
                        </p>
                    </div>
                </li>
                <li class="cs-li-icons">
                    <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/braces-rubber-bands.png" decoding="async" alt="icon" width="48" height="48" loading="lazy">
                    <div class="cs-flex">
                        <h3 class="cs-h3">Dental Sealants</h3>
                        <p class="cs-li-text">
                            Dentitch provides the best service and has won many awards. Our mission is to make everyone confident to give their best smile.
                        </p>
                    </div>
                </li>
                <li class="cs-li-icons">
                    <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/tooth-loosen.png" decoding="async" alt="icon" width="48" height="48" loading="lazy">
                    <div class="cs-flex">
                        <h3 class="cs-h3">Gum Disease</h3>
                        <p class="cs-li-text">
                            Dentitch provides the best service and has won many awards. Our mission is to make everyone confident to give their best smile.
                        </p>
                    </div>
                </li>
            </ul> -->
        <!-- </div>
        <div class="cs-picture-group">
            <picture class="cs-picture"> -->
                <!--Mobile Image-->
                <!-- <source media="(max-width: 600px)" srcset="/assets/images/gala-photo.png"> -->
                <!--Tablet and above Image-->
                <!-- <source media="(min-width: 601px)" srcset="/assets/images/gala-photo.png">
                <img loading="lazy" decoding="async" src="/assets/images/gala-photo.png" alt="gala" width="650" height="600" aria-hidden="true">
            </picture>
            <div class="cs-box">
                <img class="cs-box-icon" loading="lazy" decoding="async" src="/assets/images/heart.svg" alt="heart-icon" width="60" height="60">
                <span class="cs-box-number">$24,000+</span>
                <span class="cs-box-desc">
                    Raised to support Hawai'i keiki
                </span>
            </div>
        </div>
    </div>
</section> -->

<!-- ============================================ -->
<!--           Other Ways to Support              -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--           Other Ways to Support              -->
<!-- ============================================ -->

<section id="other-support">
    <div class="cs-container">
        <h2 class="cs-title">OTHER WAYS TO SUPPORT CHILDREN</h2>
        <div class="cs-support-table">
            <div class="cs-row">
                <h3 class="cs-row-title">In-Kind Donations</h3>
                <p class="cs-row-text">Donate new stuffed animals, toys, or craft supplies. Call for pick up or drop off locations.</p>
            </div>
            <div class="cs-row">
                <h3 class="cs-row-title">Give a Meal</h3>
                <p class="cs-row-text">Families eat dinner together before the support group. Food is always appreciated in our groups and mentoring activities. We need help with planning, preparing, and serving meals at each group.</p>
            </div>
            <div class="cs-row">
                <h3 class="cs-row-title">Sharing Information</h3>
                <p class="cs-row-text">Give hope to a child by sharing information about Kids Hurt Too Hawaii with others, especially someone in need.</p>
            </div>
            <div class="cs-row">
                <h3 class="cs-row-title">Memorial Gifts</h3>
                <p class="cs-row-text">Make a donation in memory of someone. Fill out the <a href="https://kidshurttoo.networkforgood.com/projects/183481-heart-of-gold" style="font-size: inherit; color: inherit;" target="_blank">donation form</a> or mail your contribution.</p>
            </div>
        </div>
    </div>
</section>

  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE GET INVOLVED PAGE */

  #page-description {
    .page-description {
      font-style: italic;
      text-align: center;
    }
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  section {
    padding: 4rem 0;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary);
  }

  /*-- -------------------------- -->
<---            Blog            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-2390 {
        padding: var(--sectionPadding);
        margin-top: -4rem;
        position: relative;
        z-index: 1;
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at large desktop */
            max-width: (640/16rem);
            margin: auto;
            /* 32px - 64px top & bottom */
            /* 16px - 64px left & right */
            padding: clamp(2rem, 4vw, 3.75rem) clamp(1rem, 4vw, 3.75rem);
            box-sizing: border-box;
            background-color: #fff;
            border-radius: (16/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* max width of 18 characters, incldues spaces between words */
            max-width: 27ch;
        }

 .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(12, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: left !important;
            list-style: none !important;
            padding: clamp(1rem, 3vw, 1.25rem) !important;
            box-sizing: border-box !important;
            background-color: #fff !important;
            border-radius: 1rem !important;
            grid-column: span 12 !important;
            position: relative !important;
            z-index: 1 !important;
            overflow: hidden !important;
            transition: border-color 0.3s !important;
            width: 100% !important;
            max-width: 100% !important;
            
            &:before {
                content: '' !important;
                width: 100% !important;
                height: 100% !important;
                background: var(--primary) !important;
                opacity: .05 !important;
                position: absolute !important;
                display: block !important;
                top: 0 !important;
                left: 0 !important;
                z-index: -1 !important;
            }

            &:hover {
                .cs-picture {
                    img {
                        transform: scale(1.3) !important;
                        opacity: .3 !important;
                    }
                }
            }
        }
    }
  }

        .cs-link {
            text-decoration: none;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: (16/16rem);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            height: (242/16rem);
            background-color: #000;
            border-radius: (16/16rem);
            display: block;
            /* sends it to the top */
            order: -1;
            /* prevents flexbox from squsihing it */
            flex: none;
            position: relative;
            z-index: 1;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.6s, opacity 0.3s;
            }
        }

        .cs-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-tag {
            font-size: (14/16rem);
            font-weight: 700;
            text-align: center;
            width: fit-content;
            margin-right: 0;
            padding: (4/16rem) (16/16rem);
            color: var(--bodyTextColor);
            border-radius: (100/16rem);
            display: block;
            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.2;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-date {
            font-size: (14/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: (8/16rem);
        }

        .cs-info {
            display: flex;
            flex-direction: column;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            /* 16px - 32px */
            margin: 0 0 clamp(1rem, 5vw, 3rem) 0;
            padding-bottom: (24/16rem);
            border-bottom: 1px solid #D2D8DF;
            color: var(--headerColor);
            transition: color 0.3s;
        }
    


/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #blog-2390 {
        .cs-container {
            max-width: (1280/16rem);
        }

         .cs-card-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2%;
        }

        .cs-item {
            flex-basis: 32% !important;
            min-width: 0 !important;
            max-width: 32% !important;
            width: 32% !important;
            margin-bottom: 2rem;

            .cs-picture {
                order: initial !important;
            }

            .cs-info, 
            .cs-link {
                height: 100% !important;
                display: flex;
                flex-direction: column;
            }

            .cs-item-text {
                margin-top: auto !important;
            }
            }
          }
    }
 

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-2050,
    #RPsbsr-2050 {
        padding: var(--sectionPadding);
        background-color: #fad015b8;
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            /* changed to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            max-width: (617/16rem);
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (12/16rem);

            &:last-of-type {
                margin: 0;
            }
        }

        .cs-ul {
            width: 100%;
            margin: (24/16rem) 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            line-height: 1.5em;
            list-style: none;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-tick {
            width: (20/16rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 1px;
            display: block;
        }

         .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (32/16rem);
            background-color: var(--primary);
            color: #fff;
            border-radius: (8/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }


        .cs-ul-icons {
            width: 100%;
            max-width: (630/16rem);
            /* 48px - 64px */
            margin: clamp(3rem, 6vw, 4rem) 0 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (32/16rem);
        }

        .cs-li-icons {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-bottom: (32/16rem);
            border-bottom: 1px solid rgba(72, 72, 72, 0.4);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (20/16rem);

            &:last-of-type {
                padding: 0;
                border: none;
            }
        }

        .cs-icon {
            width: (48/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: left;
            margin: 0 0 (16/16rem) 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-li-text {
            /* 14px - 16px */
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .cs-picture-group {
            width: 100%;
            min-height: (520/16rem);
            display: flex;
            position: relative;
            z-index: 1;

            /* because the img in cs-picture is absolutely positioned, it won't contribute to the height of the parent. therefore, a height: 100% won't work. instead, we have to set .cs-picture-group to a flexbox, and set flex to 1 to fill the container dynamically */
            .cs-picture {
                flex: 1;
            }
        }

        .cs-picture {
            width: 100%;
            min-height: (362/16rem);
            /* clips img tag corners */
            overflow: hidden;
            border-radius: (8/16rem);
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-position: center 1%;
            }
        }

        .cs-box {
            text-align: left;
            width: 89%;
            max-width: (305/16rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: (32/16rem);
            background-color: #f2fbf8;
            border-radius: (8/16rem);
            position: absolute;
            /* 16px - 40px */
            bottom: clamp(1rem, 4vw, 2.5rem);
            /* 16px - 40px */
            left: clamp(1rem, 4vw, 2.5rem);
            z-index: 1;
        }

        .cs-box-icon {
            width: (60/16rem);
            height: auto;
            margin: 0 0 (16/16rem);
            display: block;
        }

        .cs-box-number {
            font-size: (31/16rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0 0 (12/16rem);
            color: var(--primary);
            display: block;
        }

        .cs-box-desc {
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbs-2050,
    #RPsbsr-2050 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-end;
            position: relative;
            z-index: 1;
        }

        .cs-content {
            width: 48vw;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-2050,
    #RPsbsr-2050 {
        .cs-content {
            padding: (40/16rem) 0;
        }

        .cs-picture-group {
            width: 50%;
            height: auto;
        }
    }
}

/*-- -------------------------- -->
<---     Side By Side Only      -->
<--- -------------------------- -*/

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbs-2050 {
        padding-left: 0;

        .cs-content {
            /* 100px - 210px */
            padding-bottom: clamp(6.25rem, 15vw, 13.125rem);
        }

        .cs-picture {
            max-width: 100vw;
            margin-right: (40/16rem);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            position: absolute;
            height: 100%;
            width: 50vw;
            right: 50%;
        }

        &::before {
            content: "";
            width: 100%;
            height: 20%;
            max-height: (200/16rem);
            background-color: var(--primary);
            position: absolute;
            bottom: -1px;
            left: 0;
            z-index: 1;
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-2050 {
        background-color: #fad015b8;

        .cs-title {
          color: var(--primary);
          padding-top: 3rem;
        }

        .cs-text {
            color: var(--bodyTextColor);
        }

        .cs-topper {
            color: var(--secondary);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbsr-2050 {
        padding-right: 0;
        padding-top: 0;

        .cs-container {
            justify-content: flex-start;
        }

        .cs-content {
            width: 45vw;
            flex: none;
        }

        .cs-picture-group {
            width: 50vw;
            height: 100%;
            margin-left: (40/16rem);
            position: absolute;
            left: 50%;
            top: 0;
        }

        .cs-picture {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .cs-box {
            width: 73%;
            max-width: (305/16rem);
        }
    }
}

/*-- -------------------------- -->
<---    Other Ways to Support   -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #other-support {
        padding: var(--sectionPadding);
        background-color: #fff;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: clamp(2rem, 5vw, 3rem);
        }

        .cs-title {
            text-align: center;
            max-width: 30ch;
        }

        .cs-support-table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #e0e0e0;
        }

        .cs-row {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #e0e0e0;

            &:nth-child(odd) {
                background-color: #8455a240;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        .cs-row-title {
            font-size: 1.3rem;
            font-weight: 700;
            padding: 1rem;
            color: var(--headerColor);
        }

        .cs-row-text {
            font-size: 1.2rem;
            line-height: 1.5;
            padding: 0 1rem 1rem;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #other-support {
        .cs-row {
            flex-direction: row;
            align-items: center;
        }

        .cs-row-title {
            width: 30%;
            padding: 1rem;
            border-right: 1px solid #e0e0e0;
        }

        .cs-row-text {
            width: 70%;
            padding: 1rem;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #other-support {
        .cs-support-table {
            max-width: (1000/16rem);
        }
    }
}
</style>
